@page "/fetchdata"

@using monit_hackernews.Data
@inject MonitorNewsService NewsService

<h1>Hackernews Top Headlines</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (headlines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Score</th>
                <th>Title</th>
                <th>Url</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var headline in headlines)
            {
                <tr>
                    <td>@headline.time</td>
                    <td>@headline.score</td>
                    <td>@headline.title</td>
                    <td>@headline.url</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<NewsHeadline> headlines;

    protected override async Task OnInitializedAsync()
    {
        headlines = await NewsService.GetHeadlinesAsync();
    }
}
