__pycache__/
.DS_Store
.ipynb_checkpoints/
*.code-workspace
*.db
*.db-shm
*.db-wal
*.ell
*.h5
*.lnk
*.pkl
*.png
*.pt
*.tflite
*.tgz
*.zip
*.trace
.nbgrader.log
.vscode
.env

graphs/
logs/
models/
node_modules/
!copy_graphs.sh
bin/
obj/

macs.txt
mask-or-not/data/*/*.jpg