sudo: required

language: python
python:
  - 2.7
  - 3.6

services:
  - docker
  
install:
  - docker build -t lisaong/debian-miniconda3-ell:2.3.3 ai-edge/docker/ell/ubuntu
  - docker run -d -v $TRAVIS_BUILD_DIR/stackup-workshops/ai-edge/docker/ell/ubuntu/scripts:/scripts lisaong/debian-miniconda3-ell:2.3.3 bash /scripts/import_speech_cmds.sh
  - docker build -t lisaong/pi-miniconda3-ell:2.3.3 ai-edge/docker/ell/pi
  - docker run -d -v $TRAVIS_BUILD_DIR/stackup-workshops/ai-edge:/notebooks/myNotebooks -v /opt/vc:/opt/vc -p:28888:8888 lisaong/pi3-miniconda3-ell:2.3.3
  
 script:
  - docker ps | grep -q python
